<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml" style="background-color: #f8f9fa; padding: 20px 0; text-align: center;">
    <style>
        footer {
            background-color: #f8f9fa;
            padding: 20px 0;
            text-align: center;
        }
        footer a {
            color: #6c757d;
            text-decoration: none;
        }
        footer a:hover {
            color: #0056b3;
        }
    </style>
    <footer>
        <p class="text-muted">
            Job4jCinema
            <br>
            <a href="https://github.com/Blagov13">Создал: Александр Благов</a><br>
            <a href="https://job4j.ru">Сайт школы: Job4j</a>
        </p>
    </footer>
</div>